QA_Agent_RAG_workflow.json
{
  "name": "QA Agent RAG workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dea6f139-eb09-4f9e-8484-c67357e6c1be",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -680,
        200
      ],
      "id": "ff6b133b-7a83-47ab-94da-3063ede59d39",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -240,
        200
      ],
      "id": "19fd955d-7881-46ae-8d1f-3f53aca477a9",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Ben8GaZ4LuOFkSGEnus14AG2GxJml4R0",
          "mode": "list",
          "cachedResultName": "Hackathon 2025",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Ben8GaZ4LuOFkSGEnus14AG2GxJml4R0"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1240,
        620
      ],
      "id": "31b44ecd-d3eb-405b-aee2-b8b44bb8e5ae",
      "name": "Actualizar Documento",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jCKHZXHrbrHS6mwj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Ben8GaZ4LuOFkSGEnus14AG2GxJml4R0",
          "mode": "list",
          "cachedResultName": "Hackathon 2025",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Ben8GaZ4LuOFkSGEnus14AG2GxJml4R0"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        200
      ],
      "id": "add65737-c7b9-4f7f-917f-8882da7764f1",
      "name": "Crear Documento",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jCKHZXHrbrHS6mwj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.id }}*"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1020,
        620
      ],
      "id": "89cbccbe-4176-4390-a6a3-b5dd8ed88859",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "1sYZhtcAv2t9WsI2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f5414733-5b7a-4ac2-89db-f83bf7026174",
              "name": "file_id",
              "value": "={{ $('Actualizar Documento').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        620
      ],
      "id": "11e766ae-6647-48dc-9f04-d32278f7c429",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -580,
        620
      ],
      "id": "a8074b4d-c444-4df1-9ac8-0c263d2182fd",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -140,
        620
      ],
      "id": "a199e4bd-5f1a-4061-bb2d-46739325e1fc",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        100,
        620
      ],
      "id": "96a03175-9905-4ae2-8f44-847cb4b30f54",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "VDV7LPX00Zw4bZ2W",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Limit').item.json.file_id}}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        200,
        860
      ],
      "id": "3e9163f5-a473-42a1-a542-d93f08a05baa",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        280,
        1040
      ],
      "id": "1037759b-d3d9-4ab0-81bd-95fe5fdb5d3b",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "191449fa-6e1f-4290-a7d6-c0d8e3d7fe3b",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "1sYZhtcAv2t9WsI2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        100,
        220
      ],
      "id": "5893a914-93c8-4bd6-b9ca-032ec26d4c46",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        180,
        420
      ],
      "id": "7fc3dda0-2bc8-4f57-a729-885ced859b55",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -360,
        620
      ],
      "id": "d783a2f5-740f-4d7b-8e7e-297b3a86b831",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jCKHZXHrbrHS6mwj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -460,
        200
      ],
      "id": "50642134-3337-4cdd-95e8-3862c85625d6",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "jCKHZXHrbrHS6mwj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -40,
        300
      ],
      "id": "a4a22770-6332-497d-b759-0c5cc50b536a",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "WfFTVstvnsrdnZlR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        20,
        880
      ],
      "id": "b7ed27b6-003d-4f99-9e8d-4e3894fee56f",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "WfFTVstvnsrdnZlR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Documento": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Documento": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9fc685ab-fe8c-4c69-b6f4-2c3b02e15ab8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e875a083b444e09b673e8f4a1aed92da5c3ce850ee0fb535ff5e3245ec133c24"
  },
  "id": "1wajJZDvdF17yEG1",
  "tags": []
}